div {
	border-radius: 12px;
	border: 0;
	outline: 0;
	justify-content: space-between;
	flex-direction: column;
	align-content: center;
	text-align: center;
	display: grid;
	grid-template-columns: 2fr 1fr;
	position: fixed;
}
